{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'story8.css' %}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="{% static 'story8.js' %}"></script>
    <title>Story 8 Kefas</title>
</head>
<body>
  <h1>Search for books here!</h1>
    <input type="text" id="search" placeholder="Search">
    <input type="submit" id="button" value="search">
    <table id="results">
        <tr>
          <th>Title</th>
          <th>Book Cover</th>
          <th>Details</th>
        </tr>
      </table>
</body>
</html>