@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root{
    --darkpurple: #1E1736;
    --purple: #813358;
}
*{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-size: 2em;
    color: var(--darkpurple);
}

/* .ui-state-default{
    color: var(--purple) !important;
}
.ui-state-active{
    color: white !important;
} */
.accordion{
    width: 50vw;
}
.title{
    background-color: var(--darkpurple);
    color: var(--purple); 
    cursor: pointer;   
    padding: 10px;
    border-radius: 10px;
}
.desc{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.desc p{
    color: var(--darkpurple);
}
.title-shown-light{
    color: white;
}
.title-shown-dark{
    color: var(--darkpurple);
}


body{
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    height:100vh;
    flex-direction: column;
    align-items: center;
    background-image: url("/static/img/bottom.6fa8ceaa63cf.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    overflow-y: hidden;
    transition: 0.5s;
}
.toggle-container{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.toggle{
    margin-right:20px;
    margin-top: 20px;
    width: 80px;
    height:40px;
    border-radius: 20px;
    background-color: var(--darkpurple);
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.toggle::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;

}

.toggle.isDark::before{
    left: 45px;
    background-color: var(--darkpurple);
    transition: 0.5s;
}
.toggle.isDark{
    background-color: white;
    transition: 0.5s;
}