{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'story7.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'story7.js' %}"></script>
    <title>Story 7 Kefas</title>
</head>
<body>
    <div class="toggle-container">
        <div class="toggle"></div>
    </div>
    <h1>Hello, I'm Kefas</h1>
    <div class="accordion">
        <div class="item activities">
            <h2 class="title" id="activities">Past Activities and Experiences</h2>
            <div class="desc">
                <p>- Staff of IT Development Department</p>
                <p>- Teaching Assistant of Programming Foundations 1 Course</p>
                <p>- Mentor of Programming Foundations 0</p>
                <p>- Staff of Business-IT Case Competition</p>
                <p>- Software Engineer for Lytebox</p>
            </div>
        </div>
        <div class="item organizations">
            <h2 class="title" id="organizations">Organizations and Committees</h2>
            <div class="desc">
                <p>- BEM PTI Fasilkom UI</p>
                <p>- PO Fasilkom</p>
                <p>- RKF</p>
                <p>- Pesta Rakyat Komputer</p>
            </div>
        </div>
        <div class="item achievements">
            <h2 class="title" id="achievements">Achievements</h2>
            <div class="desc">
                <p>- Cooked a 3-minute instant cup noodles in under 2 minutes</p>
                <p>- Made my mum and dad proud</p>
            </div>
        </div>
    </div>
</body>
</html>