@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root{
    --darkpurple: #1E1736;
    --purple: #813358;
    --whiteish: #f5f5f5;
}

*{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }

body{
  background-color: var(--darkpurple);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search{
  width: 200px;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
}
#button{
  margin: 10px;
  width: 75px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 75px;
}
h3{
  color: var(--darkpurple);
}
#results{
  width: 80%;
  border: 1px solid black;
}
table, th, td {
    color: #1E1736;
    padding: 10px;
    background-color: var(--whiteish);
    text-align: center;
  }

p, a, li{
  color: #1E1736;
}
ul{
  margin-right: 40px;
}
li{
  list-style: none;
  text-align: center;
}

input{
  color: #1E1736;
}
th, td {
  border-bottom: 1px solid #ddd;
}

th{
  font-size: 1.5rem;
}
td{
      text-align: center;     
  }