<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 9 Kefas</title>
</head>
<body>

    {% if user.is_authenticated %}
    <h1>Hello, {{ user }}</h1>
    <a href="{% url 'Story9:logout' %}">
        <button id="logout">Logout</button>
    </a>
    {% else %}
    <h1>
        Please login!
    </h1>
    <a href="{% url 'Story9:login' %}">
            <button id="login">Login</button>
    </a>
    {% endif %}

</body>
</html>