<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 9 Login</title>
</head>
<body>
    <form class="auth-form" action="{% url 'Story9:login' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="login" value="Login">
    </form>
</body>
</html>